/*******************
 Author: Dee Reddy (deesus@yandex.com)
 *******************/
/**************
 Resets
 **************/
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-family: Helvetica, sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

/**************
 Sticky Footer
 **************/
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  min-height: 100vh; }

#body-wrapper {
  -webkit-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1; }

/**************
 Grid System
 **************/
/* NOTE: images inside columns must be wrapped in separate div to prevent vertical stretching */
.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  /* reset flex */
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  /* flex-flow */
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal; }

[class^='col-'] {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  display: flex; }

.col-1 {
  -ms-flex-preferred-size: 8.33333%;
  -webkit-flex-basis: 8.33333%;
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  -ms-flex-preferred-size: 16.66667%;
  -webkit-flex-basis: 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex-preferred-size: 33.33333%;
  -webkit-flex-basis: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  -ms-flex-preferred-size: 41.66667%;
  -webkit-flex-basis: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex-preferred-size: 58.33333%;
  -webkit-flex-basis: 58.33333%;
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  -ms-flex-preferred-size: 66.66667%;
  -webkit-flex-basis: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex-preferred-size: 83.33333%;
  -webkit-flex-basis: 83.33333%;
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  -ms-flex-preferred-size: 91.66667%;
  -webkit-flex-basis: 91.66667%;
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%; }

/*******************
 Utility Functions
 *******************/
/* horizontally align items inside a container: */
.h-center {
  display: flex;
  justify-content: center; }

/* vertically align items inside a container: */
.v-center {
  display: flex;
  align-items: center; }

/* container makes any/all child items equal in width (but content inside items can overflow if too long) */
.equal-width-divs > * {
  /* TODO: Is using flex better than simply using `width: 100%;`? */
  -webkit-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1; }

/* container spaces all child content equally
   (but div widths will be different) */
.equally-spaced-content {
  justify-content: space-between; }

/*  in certain cases, when we want to equally space items inside a column,
    `equally-spaced-content` and `equal-width-divs` won't work -- this resets the display.
    TODO: can't we just put this inside `equally-spaced-content` and `equal-width-divs`? */
.reset {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%; }

/* child items are aligned in a column */
.make-column {
  width: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical; }

/* use `.align-bottom` in conjunction w/ `.align-bottom-container` */
.align-bottom-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 100%;
  /* This height property takes up its parent size (e.g. 197px from header) */ }

.align-bottom {
  width: 100%;
  align-self: flex-end; }

/*******************
 Misc
 *******************/
img {
  /* image automatically resizes to max-width of the boundary: */
  max-width: 100%;
  height: auto;
  display: block; }

/*******************
 Buttons
 *******************/
/*******************
 Menus
 *******************/
/*******************
 Default Styles
 *******************/

/*# sourceMappingURL=styles.css.map */
