@import 'compass';

/**************
 Resets
 **************/

* {
  margin:   0;
  padding:  0;    // if `padding:0` is removed, recognize that normalize will need to be updated as well
}

html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

img, embed, object, video, figure {
  /* image automatically resizes to max-width of the boundary: */
  max-width:  100%;
  height:     auto;

  // removes the extra space on bottom of a div that contains an image:
  display:    block;
}

ul {
  list-style: none;
}

table {
  border-collapse:  collapse;
  border-spacing:   0;

  // TODO: another solution for responsiveness is make tables vertical w/ media queries:
  overflow-x:                 auto;
  -webkit-overflow-scrolling: touch;
}

hr {
  display:    block;
  height:     1px;
  border:     0;
  border-top: 1px solid #ccc;
  max-width:  100%;
}