@import 'compass';

/**************
 Resets
 **************/

body {
  margin:   0;
  padding:  0;    // if `padding:0` is removed, recognize that normalize will need to be updated as well
}

html {
  @include box-sizing(border-box);
}

*, *::before, *::after {
  @include box-sizing(inherit);
}

img, embed, object, video, figure {
  /* image automatically resizes to max-width of the boundary: */
  max-width:  100%;
  height:     auto;

  // removes the extra space on bottom of a div that contains an image:
  display:    block;
}

ul {
  list-style: none;
}

/* tap targets: */
button, nav a {
  min-height: 4rem;
  min-width:  4rem;
}
