@import "compass";

/* removes both padding and margins */
.no-gutter, .no-pad-margin {
  padding:  0;
  margin:   0;
}

/* use if nested in 'fluid' and want to clear */
.clear-fluid {
  margin-left:  -2rem;
  margin-right: -2rem;
}

.auto-margin, .margin-center {
  margin-left:  auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;            // for IE support (overwritten to `end` on other browsers)
  text-align: end;
}

.text-justify {
  text-align:   justify;
  text-justify: inter-word;     // for IE support
}

// TODO: achieve full-height via flex grow? (i.e. assuming div inside a flex container & display:column, we set div to flex:1)
.full-height {
  min-height: 100%;
}

/* truncates overflowing text in a container; replaces with ellipsis: */
.truncate {
  white-space:    nowrap;
  overflow:       hidden;
  text-overflow:  ellipsis;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.img-responsive {
  max-width:  100%;
  height:     auto;
  display:    block;
}

/* for sticky footer, wrap everything but the footer in this selector: */
#body-wrapper {
  @include flex(1);
}

// needed for sticky footer:
body {
  @include            display-flex;
  @include            flex-direction(column);
  -webkit-box-orient: vertical;
  min-height:         100vh;
}

