@import "compass",
        "compass/css3/animation";

/* removes both padding and margins */
.no-gutter, .no-pad-margin {
  padding:  0;
  margin:   0;
}

/* use if nested in 'fluid' and want to clear */
.clear-fluid {
  margin-left:  -2rem;
  margin-right: -2rem;
}

.auto-margin, .margin-center {
  margin-left:  auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;            // for IE support (overwritten to `end` on other browsers)
  text-align: end;
}

.text-justify {
  text-align:   justify;
  text-justify: inter-word;     // for IE support
}

// TODO: achieve full-height via flex grow? (i.e. assuming div inside a flex container & display:column, we set div to flex:1)
.full-height {
  max-height: 100%;
  height:     100%;
}

.full-width {
  max-width:  100%;
  width:      100%;
}

/* truncates overflowing text in a container; replaces with ellipsis: */
.truncate {
  white-space:    nowrap;
  overflow:       hidden;
  text-overflow:  ellipsis;
}

.capitalize {
  text-transform: capitalize;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.img-responsive {
  max-width:  100%;
  height:     auto;
  display:    block;
}

/* expands container to fill in space */
.expand, .flex-grow {
  @include flex-grow(1);
}

/* spins icons and even fonts (continuous motion): */
.spinner {
  @include animation(spin 1.5s infinite linear);
}

/* spinner in step-wise motion: */
// TODO: Loop for different # of steps:
.spinner-step-8 {
  @include animation(spin 1.5s infinite steps(8));
}

/* spinner that rotates only once (ease-in-out motion): */
.spin-once {
  @include animation(spin 0.83s 1 ease-in-out);
}

/* keyframes for animations: */
@include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

/* for rounded buttons, form inputs, etc.: */
.rounded {
  border-radius: 50px;
}

/* useful for debugging elements/tags: */
.debug {
  border: 2px dashed red;
}

/* for sticky footer, wrap everything but the footer in this selector: */
#body-wrapper {
  @include flex(1);
}

// needed for sticky footer:
body {
  @include            display-flex;
  @include            flex-direction(column);
  -webkit-box-orient: vertical;
  min-height:         100vh;
}

